.custom-modal {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 400px;
    cursor: move;}
  
  .input-container {
    display: flex;
    gap: 10px;
    width: 100%;}

  .input-container input[type="text"] {
    flex-grow: 1;
    height: 40px;
    padding: 3px 7px;
    font-size: 17px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;}
  
  .input-container input[type="submit"] {
    background-color: #000;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
    flex-shrink: 0;}
  
  .search-input {
    flex-grow: 1;
    height: 40px;
    padding: 3px 7px;
    font-size: 17px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;}
  
  .buttons-container {
    display: flex;
    gap: 10px;}
  
  .search-button,
  .ask-ai-button {
    background-color: #000;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
    flex-shrink: 0;
    cursor: pointer;}
  
  .ai-response-container {
    max-height: 300px; 
    overflow-y: auto;
    overflow-x: hidden; 
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;}
  
  .custom-search-overlay {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    gap: 10px;}
  
  .overlay-button {
    margin: 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;}
  
  .overlay-button:focus {outline: none;}
  
  .custom-search-overlay button:hover {opacity: 0.7;}

  .highlighted, .persistent-highlight  {background-color: yellow;}