.custom-modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #ccc;
}

.custom-modal .input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.custom-modal .input-container input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 10px;
}

.custom-modal .input-container input[type="submit"] {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.overlay-button {
  border: none;
  outline: none;
  background-color: transparent; /* Ensure the background is transparent */
  cursor: pointer; /* Add cursor pointer to indicate clickability */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
.overlay-button svg {
  display: block;
  fill: inherit; /* Inherit color from parent */
  stroke: none; /* Remove stroke to avoid black lines */
}

.custom-modal .button-container {
  display: flex;
  gap: 5px;
}

.custom-modal .button-container div {
  cursor: pointer;
}

.custom-modal .button-container svg {
  width: 12px;
  height: 12px;
}

.custom-modal .ai-response-container {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.highlighted,
.persistent-highlight {
  background-color: yellow;
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
